.group {
  display: flex;
  flex-direction: row; /* or column */
}
.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

p {
  font-size: 14px;
}

@media all and (min-width: 800px) {
  p {
    font-size: 24px;
  }
}
